@import "tailwindcss";
@import "tw-animate-css";

/* Variáveis do Design System */

:root {
    /* Cores */
    --color-purple-black: #06000F;
    --color-plasma-magenta: #FF00FB;
    --color-nebula-purple: #3A007B;
    --color-stellar-white: #FFFFFF;
    --color-massive-black: #000000;
    --color-error-red: #FF0000;
    --color-correct-green: #09B200;

    /* Fontes / Tamanhos */
    --font-size-display: 2.25rem;
    /* 36px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-base: 1rem;
    /* 16px */
    --font-size-sm: 0.8125rem;
    /* 13px */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-tiny: 0.625rem;
    /* 10px */
}

@theme {
    --color-purple-black: var(--color-purple-black);
    --color-plasma-magenta: var(--color-plasma-magenta);
    --color-nebula-purple: var(--color-nebula-purple);
    --color-stellar-white: var(--color-stellar-white);
    --color-massive-black: var(--color-massive-black);
    --color-error-red: var(--color-error-red);
    --color-correct-green: var(--color-correct-green);


    --font-lexend: 'Lexend', sans-serif;
    --font-krona: 'Krona One', sans-serif;

    --font-display: var(--font-size-display);
    --font-lg: var(--font-size-lg);
    --font-base: var(--font-size-base);
    --font-sm: var(--font-size-sm);
    --font-xs: var(--font-size-xs);
    --font-tiny: var(--font-size-tiny);
    --font-primary: var(--font-lexend);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-extrabold: 700;
}
